Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Block all PHP files except whitelisted ones
    RewriteCond %{REQUEST_FILENAME} \.php$
    RewriteCond %{REQUEST_FILENAME} !(get_core_team|add_core_team|get_approved_members|get_blocks|get_districts|login|register|contact|lookup_member|get_member_details|get_deceased_member_details|validate_deceased_member|beti_vivah_aavedan|membership_requirements|approve_application|get_applications|dynamic_sahyog|migration_dynamic_sahyog|death_aavedan|admin_approval|setup_poll_system|generate_receipt|death_claims_fetch|death_claims_insert|death_claims_upload|get_death_claims|get_death_claims_applications|death_claims_management_api|fetch_poll_data|publish_poll|distribute_poll_to_members|get_member_donations|upload_donation_receipt|generate_donation_receipt|get_member_donation_history|get_donation_receipt_data|get_beti_vivah_applications|get_death_sahyog_suchi|get_ac_holder_betvivah_applications|get_betivivah_donations|get_death_claims_donations|get_ac_holder_death_claims_applications|get_sahyog_suchi|get_alert_betivivah_donations|get_alert_death_donations)\.php$
    RewriteRule ^.*$ - [F,L]
</IfModule>


